<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Link Send</title>
</head>
<style>
    body{
        background:black
    }
</style>
<body>
<center>
    <p style="color:#d4e35c; font-size:50px">Password Reset Link Sent</p>
    <p style="color:white; font-size:25px">We’ve emailed you instructions for setting your password</p>
    <p style="color:white; font-size:25px">You should receive them shortly. </p>
    <p style="color:white; font-size:25px">If you don’t receive an email, please make sure you’ve entered correct E-mail address </p>
    <p style="color:red; font-size: 30px">Do not Share That link with anyone !</p>
    <p style="color:grey; font-size:18px">You Can now Close this Tab</p>
</center>
</body>
</html>