<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <title>PASSWORD RESET</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    body{
        background: black;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        box-shadow: inset 200px 200px 250px #000000, inset -200px -200px 250px #000000;

    }
    label{
        visibility:hidden;
    }
</style>
</head>
<body>
<center>
    <img src="{% static '01.png' %}" style="margin-bottom:20px">
</center>
<center style="padding-top:100px; padding-bottom:100px;">
    <p style="color:white; padding-top:10px; font-size:40px "> Did you Forget Your Password ?</p>
    <div >
        <p style="color: grey; font-size:20px; "> <b>Enter the registered Email-Id with LearnOview</b></p>
      <form method="post" class="form-group" style="color:white; font-size:20px; padding:10px;" >
            {% csrf_token %}
            <div class="row justify-content-md-center" style="margin-left:150px; margin-right:150px;">
                <i class="material-icons" style="font-size:45px;">email</i><div style="margin-top:-35px;">{{ form.email|as_crispy_field }}</div>
            </div>
          <button  type="submit" style="background-color:#d4e35c; padding:10px; margin-top:20px ; border-radius: 12px;"><b>Send Reset Link</b></button>
      </form >
    </div>
</center>
</body>
</html>