<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Password Link Send</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body{
    background:black
}

.icon-facebook:hover {
    opacity: 0.7;
    color:white;
}

.icon-google:hover {
    opacity: 0.7;
    color:white;
}
</style>
<body>
<center>
    <p style="color:#d4e35c; font-size:50px">Password Reset Link Sent</p>
    <p style="color:white; font-size:25px">We’ve emailed you instructions for setting your password</p>
    <p style="color:white; font-size:25px">If you don’t receive an email, Please make sure you’ve entered correct E-mail address </p>
    <p style="color:white; font-size:25px">Or You may have logged in using 3rd party App </p>
    <div class="row">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="icon-google" >
            <img src="{% static 'googleicon.png' %}" style="height:60px;" >
        </a>
        <a href="{% url 'social:begin' 'facebook' %}" style="margin-left: 40px" class="icon-facebook">
            <img src="{% static 'facebookicon.png' %}" style="height:60px;" >
        </a>
    </div>
    <p style="color:red; font-size: 30px">Do not Share That link with anyone !</p>
    <p style="color:grey; font-size:18px">You Can now Close this Tab</p>
</center>
</body>
</html>
